<div class="jumbotron">
  <h1 class="display-4">A simple CMS</h1>
  <p class="lead">This is a simple CMS to manage apartments written in <b>Elixir</b>, using <b>Phoenix/Ecto/Rabbit</b> libraries.</p>
</div>
